* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  border-left: 2px solid #fff9c4;
  padding-top: 10px;
}

body {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.42) 49%,
      rgba(0, 0, 0, 0.61) 100%
    ),
    url("./assets/images/sharon-mccutcheon-eMP4sYPJ9x0-unsplash.jpg");

  min-height: 100%;

  background-repeat: no-repeat;
  background-size: cover;
}

span,
svg {
  pointer-events: none;
}

#root {
  padding-right: 35px;
  padding-left: 35px;
}
