* {
  box-sizing: border-box;
}

body {
  background-image: url("./assets/images/sharon-mccutcheon-eMP4sYPJ9x0-unsplash.jpg");

  height: 100%;

  background-repeat: no-repeat;
  background-size: cover;
}
